To: @ViewBag.To
From: respag@outlook.com
Subject: Mensaje importante!

<h2>El blog de respag</h2>
<b>Hola</b>,<br />
No deje de estar al día con las nuevas tecnologías web.<br />
Chequee esta dirección: <a href="@ViewBag.FunnyLink" target="_blank">@ViewBag.FunnyLink</a><br />
<small>Enviado el <span style="color:red">@ViewBag.Fecha</span></small>
